{% if page.no_container %}
{% else %}
</div>
{% endif %}

<footer class="govuk-footer " role="contentinfo">
<div class="govuk-width-container ">
    <div class="govuk-footer__meta">
    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

        Created by Peter Warrington <a class="govuk-footer__link" href="https://lilpete.me">lilpete.me</a>
        <br/>
        <a href="/about/license/" class="govuk-footer__link">Original GOV.UK assets subject to MIT License.</a>
    </div>
    </div>
</div>
</footer>

<script src="javascript/govuk-frontend-2.5.1.min.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
</body>
</html>
