body {
    font-family: nta, sans-serif;
}
#dystopian {
    position: relative;
    bottom: 4px;
    margin-right: 5px;
}
#global-cookie-message {
    width: 100%;
    background-color: #d5e8f3;
    padding-top: 10px;
    padding-bottom: 10px;
}
#global-cookie-message p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin-top: 0;
    margin-bottom: 0;
}
#global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
    max-width: 960px;
    margin: 0 15px;
}
@media (min-width: 1020px) {
    #global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
        margin: 0 auto;
    }
}
@media (max-width: 640px) {
    .homepage-top-content {
        margin: 0 15px !important;
    }
}
#global-cookie-message .wip {
    font-weight: bold;
    font-size: 15pt;
}
.homepage-top {
    text-align: center;
    background: #005ea5;
    color: #fff;
}
.homepage-top * {
    color: #fff !important;
}
.homepage-top .homepage-top-inner {
    position: relative;
    overflow: hidden;
    max-width: 1020px;
    margin: 0 auto;
    text-align: left;
}
.homepage-top .homepage-top-inner .govuk-heading-xl {
    margin-top: 25px;
    margin-bottom: 30px;
}
.home-header {
    border-bottom: none; 
    margin-bottom:0px;
}
.homepage-top-content {
    margin: 0 30px;
}
.heading-link {
    text-decoration-color: #000;
}

.link-box {
    background-color: 	#bfc1c3;
    color: #FFF;
    padding: 25px;
}
.link-box * {
    color: #FFF;
}
.govIdentityBox {
    display:flex;
    width: 400px;
    height: 150px;
    border-color: #BFC1C3;
    border-style: solid;
    border-width: 3px;
}
.govIdentityBox .statusIdentifier{
    width: 30%;
}
.govIdentityBox .text {
    width: 70%;
    display: block;
    margin: auto 0;
}
.govuk-header__logo {
    padding-bottom: 10px;
    margin-bottom: 0px;
    min-width: 261px;
    padding-right: 0px;
}
img {
    display: block;
    max-width: 100%;
}
.department-box {
    height: 170px;
    background-color: #015EA5;
    margin-right: 15px;
    margin-bottom: 15px;
    display: table;
}
.department-box h3 {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
}
#departments-list {
    list-style-type: none;
    padding: 0;
}